body {
    font-size: 20px
}

.content {
    max-width: 600px;
    margin: 0 auto;
    border-top: 1px solid #ccc;
    padding: 20px;
}

table td {
    min-width: 100px;
}

    table td:first-child {
        min-width: 400px;
    }

thead {
    text-align: left;
}

.centered-item {
    text-align: center;
    margin: 10px auto;
}

.error-title{
    font-size: 30px
}

.error-message{
    font-size: 15px
}
